body {
	background-color: darkseagreen;
	margin: 0;
	font-size: 28px;
	font-family: 'Jost', Helvetica, sans-serif;
	height: 100%;
	min-height: 100%;
}

#header {
	background-color: #333;
	padding: 3%;
	text-align: center;
}

#navbar {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	align-items: stretch;
	text-align: center;
	background-color: #616161;
}

/* Ссылки навигационной панели */
#navbar a {
	float: left;
	display: flex;
	flex-grow: 1;
	color: #f2f2f2;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	background-color: #ffffff;
	color: black;
}

#navbar a.active {
	background-color: #4CAF50;
	color: white;
}



/* Содержимое страницы */
.content {
	display: flex;
	flex-direction: column;
	padding: 16px;
	text-align: justify;
	margin-bottom: 44px;
	/* width: 80%; */
}

.content h2 {
	text-align: center;
}

/* Класс sticky добавляется в навигационную панель с помощью JS, когда он достигает своей позиции прокрутки */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Добавить некоторые верхние отступы к содержимому страницы для предотвращения внезапного быстрого перемещения (поскольку панель навигации получает новое положение в верхней части страницы (position:fixed and top:0) */
.sticky+.content {
	padding-top: 60px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #4CAF50;
	color: white;
	text-align: justify;
}

.leftstr,
.popup {
	font-size: 14px;
	float: left;
	/* Обтекание справа */
	width: 50%;
	/* Ширина текстового блока */
}

.popup {
	text-align: right;
	/* Выравнивание по правому краю */
}

a:hover {
	color: #4CAF50;
}

a {
	color: whitesmoke;
	text-decoration: none;
}

/* Всплывающим окном - может быть везде, где угодно */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Фактическое всплывающее окно */
.popup .popuptext {
	visibility: hidden;
	width: 260px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 30%;
	margin-left: -80px;
}

.analog {
	width: 200px;
	height: 150px;
}

/* Всплывающее окно со стрелками */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Переключите этот класс - скрыть и показать всплывающее окно */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

h2 {
	color: darkred;
}

h3 {
	text-align: center;
	color: darkcyan;
}

.quartercolumn {
	float: left;
	width: 100%
}

.quartercolumn img {
	width: 25%;
	border: 3px solid green;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

input[type=reset] {
	background-color: #ff0000;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=reset]:hover {
	background-color: #cf1c1c;
}
