/* настройка стиля видимой части странинцы */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: darkseagreen;
	margin: 0;
	font-size: 28px;
	height: 100%;
	min-height: 100%;
}

/* настройка стиля формы цвета */
.colorForm {
	width: 20%;
	float: left;
}

/* настройка стиля  формы с цветами */
OPTGROUP.color {
	background: rgb(0, 247, 255);
	/* Цвет фона */
	color: red;
	/* Цвет текста */
}

/* настройка стиля формы с цветами */
OPTGROUP.hue {
	background: #f0f0f0;
	/* Цвет фона */
	color: #000;
	/* Цвет текста */
}

/* настройка стиля для option */
OPTION {
	color: #000;
	/* Цвет текста */
	background: #fff;
	/* Цвет фона */
}

/* настройка стиля при наведении на выбор цвета */
#c1:hover {
	color: #fcf8cf;
}

/* настройка стиля для параграфа */
p {
	text-indent: 1.25cm;
}

/* настройка стиля первой буквы у к класса letter */
p.letter::first-letter {
	color: chartreuse;
}

/* настройка стиля для id="demo" */
#demo {
	text-indent: 0cm;
}

/* настройка стиля для заголовка */
#header {
	background-color: #333;
	padding: 3%;
	text-align: center;
}

/* настройка стиля меню */
#navbar {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	align-items: stretch;
	text-align: center;
	background-color: #616161;
}

/* Ссылки навигационной панели */
#navbar a {
	float: left;
	display: flex;
	flex-grow: 1;
	color: #f2f2f2;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 17px;
}

/* настройка стиля при наведении на меню */
#navbar a:hover {
	background-color: #ffffff;
	color: black;
}

/* настройка стиля активной вкладки меню */
#navbar a.active {
	background-color: #4CAF50;
	color: white;
}



/* Содержимое страницы */
.content {
	display: flex;
	flex-direction: column;
	padding: 16px;
	text-align: justify;
	margin-bottom: 44px;
	/* width: 80%; */
}

/* настройка стиля заголовка второго уровня содержимого страницы */
.content h2 {
	text-align: center;
}

/* настройка стиля для класса colortext */
.colortext {
	color: #663399;
}

/* настройка стиля информационного подвала */
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #4CAF50;
	color: white;
	text-align: justify;
}

/* настройка стиля изобржажений информационного подвала */
#footerimg {
	width: 30px;
	height: 25px;
}

/* настройка стиля параграфа у информационного подвала */
#footer p {
	text-indent: 0cm;
}

/* настройка стиля для классов leftsrt и popup */
.leftstr,
.popup {
	font-size: 14px;
	float: left;
	/* Обтекание справа */
	width: 50%;
	/* Ширина текстового блока */
}

/* настройка стиля для всплывающего окна */
.popup {
	text-align: right;
	/* Выравнивание по правому краю */
}

/* настройка стиля для ссылок при наведении */
a:hover {
	color: #4CAF50;
}

/* настройка стиля для ссылок */
a {
	color: whitesmoke;
	text-decoration: none;
}

/* Всплывающим окном - может быть везде, где угодно */
.popup {
	padding-top: 20px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Фактическое всплывающее окно */
.popup .popuptext {
	visibility: hidden;
	width: 260px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* настройка стиля для класса analog */
.analog {
	width: 200px;
	height: 150px;
}

/* Всплывающее окно со стрелками */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Переключите этот класс - скрыть и показать всплывающее окно */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* настройка стиля для заголовка второго уровня */
h2 {
	color: darkred;
}

/* настройка стиля для заголовка третьего уровня */
h3 {
	text-align: center;
	color: #008b8b;
}

/* настройка стиля для заголовка четвертого уровня */
h4 {
	color: red;
	margin-bottom: 0;
}

/* настройка стиля для примечания на главной странцие */
#primechanie {
	margin-top: 0px;
}

/* настройка стиля для карты сайта */
.quartercolumn {
	float: left;
	width: 100%
}

/* настройка стиля изображений для карты сайта */
.quartercolumn img {
	width: 32.7%;
	border: 3px solid white;
}

/* настройка стиля для строки ввода с типом text, для формы выбора, и для textarea */
input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

/* настройка стиля для строки ввода с типом submit */
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 16px;
}

/* настройка стиля для строки ввода с типом submit при наведении */
input[type=submit]:hover {
	background-color: #45a049;
}

/* настройка стиля для строки ввода с типом reset */
input[type=reset] {
	background-color: #c300ff;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}

/* настройка стиля для строки ввода с типом reset при наведении */
input[type=reset]:hover {
	background-color: #8413a7;
}

/* настройка стиля для паспарту */
.passe-partout {
	padding: 40px;
	/* Размер паспарту */
	background: #f0f0f0;
	/* Цвет фона паспарту */
	border: 2px solid #800000;
	/* Параметры рамки */
	display: inline-block;
	/* Строчно-блочный элемент */
	margin: 0;
	/* Убираем отступы */

}

/* настройка стиля для изображений в паспарту */
.passe-partout img {
	border: 2px solid greenyellow;
	/* Рамка вокруг изображения */
}

/* настройка стиля для изображений в паспарту при наведении */
.passe-partout img:hover {
	border: 2px solid #800000;
}

/* настройка стиля для ссылок класса rollover */
a.rollover {
	background: url("../img(z9)/rollover1.jpg");
	/* Путь к файлу с исходным рисунком  */
	display: block;
	/*  Рисунок как блочный элемент */
	width: 196px;
	/* Ширина рисунка */
	height: 183px;
	/*  Высота рисунка */
}

/* настройка стиля для ссылок класса rollover при наведении */
a.rollover:hover {
	background: url("../img(z9)/rollover2.jpg");
	/* Путь к файлу с заменяемым рисунком  */
}

/* настройка стиля для класа h2history */
.h2history {
	text-decoration: underline;
}

/* Сетка: четыре одинаковых столбца, которые плавают рядом друг с другом */
.column {
	float: left;
	width: 15%;
	padding: 10px;
}

/* Стиль изображения внутри сетки */
.column img {
	opacity: 0.8;
	cursor: pointer;
}

/* настройка стиля на для изображений при наведении класса column */
.column img:hover {
	opacity: 1;
}

/* Очистить поплавки после колонок */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Расширяющийся контейнер изображений */
.container {
	position: relative;
	display: none;
}

/* Расширение текста изображения */
#imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
}

/* Закрываемая кнопка внутри развернутого изображения */
.closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
}

/* настройка стиля изборажений в галерее изображений */
.galleryimg {
	width: 100%;
}

/* настройка стиля для текста, который скрывается при нажатии кнопки скрыть */
.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

/* настройка стиля для класса active и при наведении collapsible */
.active,
.collapsible:hover {
	background-color: #555;
}

/* Контейнер слайд-шоу */
.slideshow-container {
	position: relative;
	background: #f1f1f1f1;
}

/* Слайды */
.mySlides {
	display: none;
	padding: 80px;
	text-align: center;
}

/* Вперед и назад кнопки */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Позиция "кнопки вперед" на право */
.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* При наведении курсора добавьте черный цвет фона с небольшим количеством прозрачного */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

/* Контейнер точки/пули/индикатора */
.dot-container {
	text-align: center;
	padding: 20px;
	background: #ddd;
}

/* Точки/пули/индикаторы */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/* Добавить цвет фона для активной точки/круга */
.active,
.dot:hover {
	background-color: #717171;
}

/* Добавить курсивный стиль шрифта для всех цитат */
q {
	font-style: italic;
}

/* Добавить синий цвет для автора */
.author {
	color: cornflowerblue;
}

/* настройка стиля для изображений в галерее изображений со вкладками */
#expandedImgGG {
	width: 100%;
}

/* настройка стиля для id subject */
#subject {
	height: 200px;
}

/* настройка стиля для id img_banner_programmer */
#img_banner_programmer {
	color: greenyellow;
	font-size: larger;
	text-align: center;
}

/* настройка стиля для "Этапов выполнения проекта" */
#steps_kurs {
	margin: 5px;
}

/* настройка стиля для кнопки stop в полноэкранном видео */
#stop_btn {
	padding: 10px;
	border: 3px solid green;
	background: #ffffff;
	color: #000000;
	cursor: pointer;
}

/* настройка стиля для кнопки stop в полноэкранном видео при наведении */
#stop_btn:hover {
	background: #ddd;
	color: black;
}

/* Удалите поля и отступы из списка */
ul.tasks {
	margin: 20px;
	padding: 0;
}

/* Стиль элементов списка */
ul.tasks li.task {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	list-style-type: none;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;

	/* сделайте элементы списка просматриваемыми */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Установите для всех нечетных элементов списка другой цвет (полосы зебры) */
ul.tasks li.task:nth-child(odd) {
	background: #f9f9f9;
}

/* Более темный фон-цвет при наведении курсора */
ul.tasks li.task:hover {
	background: #ddd;
}

/* При нажатии на кнопку добавить цвет фона и вычеркнуть текст */
ul.tasks li.task.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
}

/* Добавить отметку "проверено" при нажатии на нее */
ul.tasks li.task.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

/* Стиль кнопки закрытия */
.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}

/* настройка стиля для кнопки close при наведении */
.close:hover {
	background-color: #f44336;
	color: white;
}

/* Стиль заголовка */
.tasks_header {
	background-color: darkcyan;
	padding: 30px 40px;
	color: white;
	text-align: center;
}

/* Очистить поплавки после заголовка */
.tasks_header:after {
	content: "";
	display: table;
	clear: both;
}

/* Стиль кнопки "Добавить" */
.addBtn {
	padding: 10px;
	width: 15%;
	height: 18px;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
}

/* настройка стиля при наведении на кнопку добавить */
.addBtn:hover {
	background-color: #bbb;
}